<!DOCTYPE html>
<html>
  <head>
    <title>TestRun</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a href="../stuff" class="navbar-brand">J-ROD</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li>
                <a href="../stuff/">Stuff</a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" target="_blank">Stuff on the right</a></li>
            </ul>

          </div>
        </div>
      </div>


    <%= yield %>
  </body>
</html>
